@page
@model WizardingWorld.Pages.Party.CountriesPage
@using WizardingWorld.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
    @Html.Editor(m=>m.Item.ID)
    <partial name = "_EditCountry" />
</body>