@page
@using WizardingWorld.Facade.Party
@using WizardingWorld.Pages.Extensions
@model WizardingWorld.Pages.Party.CountriesPage

@{
    Layout = "_Details";
    CountryView forModel = new();
}

<body>
    <partial name = "_ShowCountry" />
</Body>
