@page
@using WizardingWorld.Facade.Party
@using WizardingWorld.Pages.Extensions
@model WizardingWorld.Pages.Party.CountriesPage

@{
    Layout = "_Details";
    CountryView forModel = new();
    CurrencyView forDisplayName = new();
}

<body>
    <partial name = "_ShowCountry" />
    @Html.ShowRelatedTable(Model.Currencies.Value, forModel, forDisplayName)
</Body>
