@page
@model WizardingWorld.Pages.Party.CharacterAddressesPage

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="Item.ID" />
    <partial name = "_EditCharacterAddress" />
</body>
 
            