@page
@using WizardingWorld.Pages.Extensions
@using WizardingWorld.Facade.Party
@using WizardingWorld.Domain.Party
@model WizardingWorld.Pages.Party.WandsPage

@{
    Layout = "_Details";
    object? GetValue<T>(string propertyname, T item) => typeof(T).GetProperty(propertyname)?.GetValue(item);
}

<body>
    <partial name = "_ShowWand" />
    @Html.MyViewerFor(m => m.WoodInfos, GetValue(nameof(WoodView.Description), Model.Woods.Value.First()))
</Body> 