@page
@using WizardingWorld.Pages.Extensions
@using WizardingWorld.Facade.Party
@using WizardingWorld.Domain.Party
@model WizardingWorld.Pages.Party.WandsPage

@{
    Layout = "_Details";
}

<body>
    <partial name = "_ShowWand" />
</Body>