@page
@model WizardingWorld.Pages.Party.CurrenciesPage
@using WizardingWorld.Pages.Extensions
@using WizardingWorld.Facade.Party

@{
    Layout = "_Details";
    CountryView forDisplayName = new();
    CurrencyView forModel = new();
}

<Body>
    <partial name= "_ShowCurrency"/>
    @Html.ShowRelatedTable(Model.Countries.Value, forModel, forDisplayName)
</Body>
