@page
@model WizardingWorld.Pages.Party.CurrenciesPage
@using WizardingWorld.Facade.Party

@{
    Layout = "_Details";

    var columns = new[] { 
        nameof(CountryView.Code)
        , nameof(CountryView.Name)
        , nameof(CountryView.Description)
    };
    object? GetValue<T>(string propertyname, T item) {
        var pi = typeof(T).GetProperty(propertyname);
        return pi?.GetValue(item);
    }

}

<Body>
    <partial name= "_ShowCurrency"/>


<br>
    <h4>Countries</h4>
<br>

    <table class="table">
    <thead>
    <tr>
        @foreach (var name in columns) { <td> @Html.Raw(name) </td> }
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Countries) {
            <tr>
                @foreach (var name in columns) { <td> @Html.Raw(GetValue(name, item)) </td> }
            </tr>
        }
    </tbody>
    </table>

</Body>
