@page
@model WizardingWorld.Pages.Party.PlacesPage
@using WizardingWorld.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
    @Html.EditorFor(x => x.Item.ID)
    <partial name= "_EditPlaces"/>
</body>