@page
@model WizardingWorld.Pages.Party.HousesPage
@using WizardingWorld.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
    @Html.MyEditorFor(m=>m.Item.ID)
    <partial name = "_EditHouse" />
</body>