@page
@using WizardingWorld.Facade.Party
@using WizardingWorld.Pages.Extensions
@model WizardingWorld.Pages.Party.HousesPage

@{
    Layout = "_Details";
    HouseView forModel = new();
    CharacterView forDisplayName = new();
}

<body>
    <partial name = "_ShowHouse" />
    @Html.ShowRelatedTable(Model.Characters.Value, forModel, forDisplayName)
</Body>
