@page
@using WizardingWorld.Facade.Party
@using SoftFitness.Pages.Extensions
@model WizardingWorld.Pages.Party.AddressesPage

@{
    Layout = "_Details";
    AddressView forModel = new();
    CharacterView forDisplayName = new();
}

<body>
    <partial name = "_ShowAddresses" />
    @Html.ShowRelatedTable(Model.Characters.Value, forModel, forDisplayName)
</Body>