@page
@model WizardingWorld.Pages.Characters.CharactersPage
@using WizardingWorld.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
        @Html.Editor(m=>m.Item.ID)
        <partial name = "_EditCharacter" />
</body>