@page
@model WizardingWorld.Pages.Characters.CharactersPage

@{
    Layout = "_Delete";
    ViewData["itemId"] = Model?.Character?.ID ?? string.Empty;
}

<body>
    <partial name = "_ShowCharacter" />
</body>
