@page
@model WizardingWorld.Pages.Characters.CharactersPage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-page-handler = "Edit" asp-route-id="@Model.Character.ID">Edit</a> |
    <a asp-page="./Index" asp-page-handler = "Index">Back to List</a>
</div>
