@page
@using WizardingWorld.Pages.Extensions
@using WizardingWorld.Facade.Party
@model WizardingWorld.Pages.Party.CharactersPage

@{
    Layout = "_Details";
    var columns = new[] {
        nameof(AddressView.Street),
        nameof(AddressView.City),
        nameof(AddressView.Region),
        nameof(AddressView.CountryID),
        nameof(AddressView.Description)
    };
    object? GetValue<T>(string propertyname, T item) => typeof(T).GetProperty(propertyname)?.GetValue(item);
}

<body>
    <partial name = "_ShowCharacter" />
    <br>
        <h4>Addresses</h4>
    <br>
    @*@Html.ShowRealtedTable(Model.Items)*@
        <table class="table">
        <thead>
        <tr>
            @foreach (var name in columns) { <td> @Html.Raw(name) </td> }
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Addresses.Value) {
                <tr>
                    @foreach (var name in columns) { <td> @Html.Raw(GetValue(name, item)) </td> }
                </tr>
            }
        </tbody>
        </table>

</Body>

