@page
@using WizardingWorld.Pages.Extensions
@using WizardingWorld.Facade.Party
@model WizardingWorld.Pages.Party.CharactersPage

@{
    Layout = "_Details";
    AddressView forDisplayName = new();
    CharacterView forModel = new();
}


<body>
    <partial name = "_ShowCharacter" />
    @Html.ShowRelatedTable(Model.Addresses.Value, forModel, forDisplayName)
</Body>

