@page
@model WizardingWorld.Pages.Characters.CharactersPage

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="Item.ID" />
    <partial name = "_EditCharacter" />
</body>
 
            