@page
@model WizardingWorld.Pages.Party.SpellsPage
@using WizardingWorld.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
    @Html.MyEditorFor(m=>m.Item.ID)
    <partial name = "_EditSpell" />
</body>